.custom-scrollbar .p-scrollpanel-wrapper {
    border-right: 9px solid #f4f4f4;
}

.custom-scrollbar .p-scrollpanel-bar {
    background-color: #1976d2a6;
    opacity: 1;
    transition: background-color .3s;
}

.custom-scrollbar .p-scrollpanel-bar:hover {
    background-color: #135ba1;
}

/* .p-scrollpanel .p-scrollpanel-bar {
	background: #0b77e3;
	border: 0 none;
} */